// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-primary-light: lighten($color-primary, 10%);
$color-secondary: #51ddfc;
$color-shade: #ccc;

$color-default: $color-secondary;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;

$color-col-1: $color-info;
$color-col-2: $color-warning;
$color-col-3: #deb2ee;
$color-col-4: #7ee6fd;
$color-col-5: #88d9a0;
$color-col-6: #4da2bb;
$color-col-7: #ec9fa3;
$color-col-8: #fd9f85;
$color-col-9: $color-error;
$color-col-10: $color-success;
$color-col-11: $color-secondary;
$color-col-12: #80e8d1;

$color-text: #777;

// Fonts
$font-stack-primary: "Lato", sans-serif;

// Layout
$max-width: 1400px;

//Breakpoints
$break-l: 768px;
